 <!DOCTYPE html>
 <html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
     <head>    
         <div th:replace="~{fragment :: meta}"></div>  
              
         <div th:replace="~{fragment :: styles}"></div>
         
         <title>店舗一覧</title>       
     </head>
     <body>
         <div class="taberogu-wrapper">
             <!-- ヘッダー -->
             <div th:replace="~{fragment :: header}"></div>
             
             <main>
                 <div class="container pt-4 pb-5 taberogu-container">
                     <div class="row justify-content-center">
                         <div class="col-xxl-9 col-xl-10 col-lg-11">
                             
                             <h1 class="mb-4 text-center">店舗一覧</h1>   
                             
                              <div class="d-flex justify-content-between align-items-end flex-wrap">
                                 <form method="get" th:action="@{/admin/restaurants}" class="mb-3">
                                     <div class="input-group">
                                         <input type="text" class="form-control" name="keyword" th:value="${keyword}" placeholder="店舗名">
                                         <button type="submit" class="btn text-white shadow-sm taberogu-btn">検索</button> 
                                     </div>               
                                 </form>         
                                                       
                                 <a th:href="@{/admin/restaurants/register}" class="btn text-white shadow-sm mb-3 taberogu-btn">登録</a>
                             </div>     
                             
                             <div th:if="${successMessage}" class="alert alert-info">
                                 <span th:text="${successMessage}"></span>
                             </div>                                                        
                             
                             <table class="table">
                                 <thead>
                                     <tr>
                                         <th scope="col">ID</th>
                                         <th scope="col">店舗名</th>
                                         <th scope="col">郵便番号</th>
                                         <th scope="col">住所</th>
                                         <th scope="col">電話番号</th>
                                         <th scope="col">カテゴリ</th>
                                         <th scope="col"></th>            
                                         <th scope="col"></th>                         
                                     </tr>
                                 </thead>   
                                 <tbody>                                                     
                                     <tr th:each="restaurant : ${restaurantPage}">
                                         <td th:text="${restaurant.getId()}"></td>
                                         <td th:text="${restaurant.getName()}"></td>
                                         <td th:text="${restaurant.getPostalCode()}"></td>
                                         <td th:text="${restaurant.getAddress()}"></td>
                                         <td th:text="${restaurant.getPhoneNumber()}"></td>
                                         <td th:text="${restaurant.getCategory().getName()}"></td>
                                         <td><a th:href="@{/admin/restaurants/__${restaurant.getId()}__}">詳細</a></td>      
                                         <td><a href="#" class="taberogu-link-danger" data-bs-toggle="modal" th:data-bs-target="${'#deleteRestaurantModal' + restaurant.getId()}">削除</a></td>     

                                         <!-- 削除用モーダル -->
                                         <div class="modal fade" th:id="${'deleteRestaurantModal' + restaurant.getId()}" tabindex="-1" th:aria-labelledby="${'deleteRestaurantModalLabel' + restaurant.getId()}">
                                             <div class="modal-dialog">
                                                 <div class="modal-content">
                                                     <div class="modal-header">
                                                         <h5 class="modal-title" th:id="${'deleteRestaurantModalLabel' + restaurant.getId()}" th:text="${restaurant.getName() + 'を削除してもよろしいですか？'}"></h5>
                                                         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="閉じる"></button>
                                                     </div>
                                                     <div class="modal-footer">
                                                         <form method="post"th:action="@{/admin/restaurants/__${restaurant.getId()}__/delete}">
                                                             <button type="submit" class="btn taberogu-btn-danger text-white shadow-sm">削除</button>
                                                         </form>
                                                     </div>
                                                 </div>
                                             </div>
                                         </div>                                                                               
                                     </tr>                                      
                                 </tbody>
                             </table>     
                             
                             <!-- ページネーション -->
                             <div th:if="${restaurantPage.getTotalPages() > 1}" class="d-flex justify-content-center">
                                 <nav aria-label="店舗一覧ページ">
                                     <ul class="pagination">
                                         <li class="page-item">
                                             <span th:if="${restaurantPage.isFirst()}" class="page-link disabled">前</span>
                                             <a th:unless="${restaurantPage.isFirst()}" th:href="@{/admin/restaurants(page = ${restaurantPage.getNumber() - 1}, keyword = ${keyword})}" class="page-link taberogu-page-link">前</a>
                                         </li>
                                         <li th:each="i : ${#numbers.sequence(0, restaurantPage.getTotalPages() - 1)}" class="page-item">
                                             <span th:if="${i == restaurantPage.getNumber()}" class="page-link active taberogu-active" th:text="${i + 1}"></span>
                                             <a th:unless="${i == restaurantPage.getNumber()}" th:href="@{/admin/restaurants(page = ${i}, keyword = ${keyword})}" class="page-link taberogu-page-link" th:text="${i + 1}"></a>
                                         </li>
                                         <li class="page-item">                        
                                             <span th:if="${restaurantPage.isLast()}" class="page-link disabled">次</span>
                                             <a th:unless="${restaurantPage.isLast()}" th:href="@{/admin/restaurants(page = ${restaurantPage.getNumber() + 1}, keyword = ${keyword})}" class="page-link taberogu-page-link">次</a>
                                         </li>
                                     </ul>
                                 </nav> 
                             </div>                                   
                         </div>
                     </div>
                 </div>              
             </main>
             
             <!-- フッター -->
             <div th:replace="~{fragment :: footer}"></div>
         </div>    
         
         <div th:replace="~{fragment :: scripts}"></div>
     </body>
 </html>