 <!DOCTYPE html>
 <html xmlns:th="https://www.thymeleaf.org">
     <head>
         <div th:replace="~{fragment :: meta}"></div>   
              
         <div th:replace="~{fragment :: styles}"></div>
         
         <title>レビュー投稿</title>       
     </head>
     <body>
         <div class="taberogu-wrapper">
             <!-- ヘッダー -->
             <div th:replace="~{fragment :: header}"></div>
             
			<main>
                 <div class="container pt-4 pb-5 taberogu-container">
                     <div class="row justify-content-center">
                         <div class="col-xl-4 col-lg-5 col-md-7 col-sm-9">
                             <nav class="mb-4" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                                 <ol class="breadcrumb mb-0">
                                     <li class="breadcrumb-item"><a th:href="@{/}">ホーム</a></li>
                                     <li class="breadcrumb-item"><a th:href="@{/restaurants}">店舗一覧</a></li>
                                     <li class="breadcrumb-item"><a th:href="@{/restaurants/__${restaurant.getId()}__}">店舗詳細</a></li>
									<li class="breadcrumb-item active" aria-current="page">レビュー投稿</li>
								</ol>
							</nav>
			
							<h1 class="mb-4 text-center" th:text="${restaurant.getName()} + のレビュー投稿"></h1>
			
							<form method="post" th:action="@{/restaurants/__${restaurant.getId()}__/reviews/create}" th:object="${reviewRegisterForm}"
								enctype="multipart/form-data">
								
								<input type="hidden" th:field="*{restaurant_id}">
                                <input type="hidden" th:field="*{user_id}">
			
								<div class="form-group row mb-3">
									<div class="col-md-4">
										<label for="evaluation" class="col-form-label text-md-left fw-bold">評価</label>
									</div>
									
									<div class="col-md-8">
										
											<div class="form-group mb-3">
												<select class="form-control form-select" name="evaluation">
													<option value="" hidden>選択してください</option>
													<option value="★★★★★" th:selected="${evaluation == '★★★★★'}">★★★★★</option>
													<option value="★★★★☆" th:selected="${evaluation == '★★★★☆'}">★★★★☆</option>
													<option value="★★★☆☆" th:selected="${evaluation == '★★★☆☆'}">★★★☆☆</option>
													<option value="★★☆☆☆" th:selected="${evaluation == '★★☆☆☆'}">★★☆☆☆</option>
													<option value="★☆☆☆☆" th:selected="${evaluation == '★☆☆☆☆'}">★☆☆☆☆</option>
													<option value="☆☆☆☆☆" th:selected="${evaluation == '☆☆☆☆☆'}">☆☆☆☆☆</option>
												</select>
											</div>
										
									</div>
								</div>	
			
									<div class="form-group row mb-3">
										<div class="col-md-4">
											<label for="content" class="col-form-label text-md-left fw-bold">コメント</label>
										</div>
										<div class="col-md-8">
											<div th:if="${#fields.hasErrors('content')}" class="text-danger small mb-2"
												th:errors="*{content}">
											</div>
											<textarea class="form-control" th:field="*{content}" cols="30" rows="5"></textarea>
										</div>
									</div>
			
									<div class="form-group d-flex justify-content-center my-4">
										<button type="submit" class="btn text-white shadow-sm w-50 taberogu-btn">投稿</button>
									</div>
			
								
							</form>	
						</div>
					</div>	
				</div>
			</main>
             
             <!-- フッター -->
             <div th:replace="~{fragment :: footer}"></div>
         </div>    
         
         <div th:replace="~{fragment :: scripts}"></div>  
         <script th:src="@{/js/preview.js}"></script>     
     </body>
 </html>