 <!DOCTYPE html>
 <html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">    
     <head>
         <div th:replace="~{fragment :: meta}"></div>   
              
         <div th:replace="~{fragment :: styles}"></div>
           
         <title>予約内容確認</title>   
     </head>
     <body>
         <div class="taberogu-wrapper">
             <!-- ヘッダー -->
             <div th:replace="~{fragment :: header}"></div>
             
             <main>
                 <div class="container pt-4 pb-5 taberogu-container">
                     <div class="row justify-content-center">
                         <div class="col-xl-4 col-lg-5 col-md-7 col-sm-9">
                             <nav class="mb-4" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                                 <ol class="breadcrumb mb-0">
                                     <li class="breadcrumb-item"><a th:href="@{/}">ホーム</a></li>
                                     <li class="breadcrumb-item"><a th:href="@{/restaurants}">店舗一覧</a></li>
                                     <li class="breadcrumb-item"><a th:href="@{/restaurants/__${restaurant.getId()}__}">店舗詳細</a></li>
                                     <li class="breadcrumb-item active" aria-current="page">予約内容確認</li>
                                 </ol>
                             </nav>
             
                             <h1 class="mb-4 text-center">予約内容確認</h1>
                                         
                             <form method="post" th:action="@{/restaurants/__${restaurant.getId()}__/reservations/create}" th:object="${reservationRegisterForm}">
                                 <input type="hidden" th:field="*{restaurantId}">
                                 <input type="hidden" th:field="*{userId}">
                                 <input type="hidden" th:field="*{reservationDate}">
                                 <input type="hidden" th:field="*{reservationTime}">
                                 <input type="hidden" th:field="*{numberOfPeople}">
             
                                 <div class="container mb-4">
                                     <div class="row pb-2 mb-2 border-bottom">
                                         <div class="col-6">
                                             <span class="fw-bold">予約日</span>
                                         </div>
                 
                                         <div class="col">
                                             <span th:text="*{reservationDate}"></span>
                                         </div>
                                     </div>
                                 </div>     
                                 
                                 <div class="container mb-4">
                                     <div class="row pb-2 mb-2 border-bottom">
                                         <div class="col-6">
                                             <span class="fw-bold">予約時間</span>
                                         </div>
                 
                                         <div class="col">
                                             <span th:text="*{reservationTime}"></span>
                                         </div>
                                     </div>
                                 </div>  
                                 
                                 <div class="container mb-4">
                                     <div class="row pb-2 mb-2 border-bottom">
                                         <div class="col-6">
                                             <span class="fw-bold">予約人数</span>
                                         </div>
                 
                                         <div class="col">
                                             <span th:text="*{numberOfPeople + '名'}"></span>
                                         </div>
                                     </div>
                                 </div> 
             
                                 <div class="d-flex justify-content-center">
                                    <td><a href="#" class="btn text-white shadow-sm w-100 taberogu-btn" data-bs-toggle="modal" th:data-bs-target="${'#createReservationModal'}">確定する</a></td>     
                                 </div>

                                         

                                         <!-- 削除用モーダル -->
                                         <div class="modal fade" th:id="${'createReservationModal'}" tabindex="-1" th:aria-labelledby="${'createReservationModalLabel'}">
                                             <div class="modal-dialog">
                                                 <div class="modal-content">
                                                     <div class="modal-header">
                                                         <h5 class="modal-title" th:id="${'createReservationModalLabel'}" th:text="${'本当に予約しますか？'}"></h5>
                                                         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="閉じる"></button>
                                                     </div>
                                                     <div class="modal-footer">
                                                         <form method="post"th:action="@{/restaurants/__${restaurant.getId()}__/reservations/create}">
                                                             <button type="submit" class="btn text-white shadow-sm mb-3 taberogu-btn">予約確定する</button>
                                                         </form>
                                                     </div>
                                                 </div>
                                             </div>
                                         </div>                                  

                             </form>
                         </div>
                     </div>
                 </div>  
             </main>
             
             <!-- フッター -->
             <div th:replace="~{fragment :: footer}"></div>
         </div>    
         
         <div th:replace="~{fragment :: scripts}"></div>  
   </body>
 </html>