 <!DOCTYPE html>
 <html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">    
     <head>
         <div th:replace="~{fragment :: meta}"></div>   
              
         <div th:replace="~{fragment :: styles}"></div>
           
         <title>予約一覧</title>   
     </head>
     <body>
         <div class="taberogu-wrapper">
             <!-- ヘッダー -->
             <div th:replace="~{fragment :: header}"></div>
             
             <main>
                 <div class="container taberogu-container pb-5">
                     <div class="row justify-content-center">
                         <div class="col-xxl-9 col-xl-10 col-lg-11">
                             <nav class="my-3" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                                 <ol class="breadcrumb mb-0"> 
                                     <li class="breadcrumb-item"><a th:href="@{/}">ホーム</a></li>                       
                                     <li class="breadcrumb-item active" aria-current="page">予約一覧</li>
                                 </ol>
                             </nav> 
                             
                             <h1 class="mb-3 text-center">予約一覧</h1>  
             
                              <div th:if="${param.reserved}" class="alert alert-info">
                                 予約が完了しました。
                             </div>   
                             
                             <table class="table">
                                 <thead>
                                     <tr>                            
                                         <th scope="col">店舗名</th>
                                         <th scope="col">予約日</th>
                                         <th scope="col">予約時間</th>
                                         <th scope="col">予約人数</th>
                                         <th scope="col"></th>                                       
                                     </tr>
                                 </thead>   
                                 <tbody>                                                    
                                     <tr th:each="reservation : ${reservationPage}">
                                         <td>
                                             <a th:href="@{/restaurants/__${reservation.getRestaurant().getId()}__}" th:text="${reservation.getRestaurant().getName()}"></a>
                                         </td>
                                         <td th:text="${reservation.getReservationDate()}"></td>
                                         <td th:text="${reservation.getReservationTime()}"></td>
                                         <td th:text="${reservation.getNumberOfPeople + '名'}"></td>
                                         <td><a href="#" class="taberogu-link-danger" data-bs-toggle="modal" th:data-bs-target="${'#deleteReservationModal' + reservation.getId()}">削除</a></td> 
                                          <!-- 削除用モーダル -->
                                         <div class="modal fade" th:id="${'deleteReservationModal' + reservation.getId()}" tabindex="-1" th:aria-labelledby="${'deleteReservationModalLabel' + reservation.getId()}">
                                             <div class="modal-dialog">
                                                 <div class="modal-content">
                                                     <div class="modal-header">
                                                         <h5 class="modal-title" th:id="${'deleteReservationModalLabel' + reservation.getId()}" th:text="${reservation.restaurant.getName() + 'を削除してもよろしいですか？'}"></h5>
                                                         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="閉じる"></button>
                                                     </div>
                                                     <div class="modal-footer">
                                                         <form method="post"th:action="@{/restaurants/__${reservation.getId()}__/reservations/delete}">
                                                             <button type="submit" class="btn taberogu-btn-danger text-white shadow-sm">削除</button>
                                                         </form>
                                                     </div>
                                                 </div>
                                             </div>
                                         </div>      
                                     </tr>                                    
                                 </tbody>
                             </table>    
                             
                            <!-- ページネーション -->
                             <div th:if="${reservationPage.getTotalPages() > 1}" class="d-flex justify-content-center">
                                 <nav aria-label="予約一覧ページ">
                                     <ul class="pagination">
                                         <li class="page-item">
                                             <span th:if="${reservationPage.isFirst()}" class="page-link disabled">前</span>
                                             <a th:unless="${reservationPage.isFirst()}" th:href="@{/reservations(page = ${reservationPage.getNumber() - 1})}" class="page-link taberogu-page-link">前</a>
                                         </li>
                                         <li th:each="i : ${#numbers.sequence(0, reservationPage.getTotalPages() - 1)}" class="page-item">
                                             <span th:if="${i == reservationPage.getNumber()}" class="page-link active taberogu-active" th:text="${i + 1}"></span>
                                             <a th:unless="${i == reservationPage.getNumber()}" th:href="@{/reservations(page = ${i})}" class="page-link taberogu-page-link" th:text="${i + 1}"></a>
                                         </li>
                                         <li class="page-item">                        
                                             <span th:if="${reservationPage.isLast()}" class="page-link disabled">次</span>
                                             <a th:unless="${reservationPage.isLast()}" th:href="@{/reservations(page = ${reservationPage.getNumber() + 1})}" class="page-link taberogu-page-link">次</a>
                                         </li>
                                     </ul>
                                 </nav> 
                             </div>                
                         </div>                          
                     </div>
                 </div>  
             </main>
             
             <!-- フッター -->
             <div th:replace="~{fragment :: footer}"></div>
         </div>    
         
         <div th:replace="~{fragment :: scripts}"></div>  
   </body>
 </html>