<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">    
	<head>
		<div th:replace="~{fragment :: meta}"></div>   
		<div th:replace="~{fragment :: styles}"></div>
		<title>お気に入り一覧</title>   
	</head>
	
	<body>
		<div class="taberogu-wrapper">
			<!-- ヘッダー -->
			<div th:replace="~{fragment :: header}"></div>
             
			<main>
				
				<div class="container taberogu-container pb-5">
					<div class="row justify-content-center">
						<div class="col-xxl-9 col-xl-10 col-lg-11">
							<nav class="my-3" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
								<ol class="breadcrumb mb-0"> 
									<li class="breadcrumb-item"><a th:href="@{/}">ホーム</a></li>                       
									<li class="breadcrumb-item active" aria-current="page">お気に入り一覧</li>
								</ol>
							</nav> 
                             
							<h1 class="mb-3 text-center">お気に入り一覧</h1>  
							
							<table class="table">
								<thead>
									<tr>                            
										<th scope="col">店舗名</th> 
										<th scope="col">住所</th>
										<th scope="col">電話番号</th> 
										<th scope="col">カテゴリ</th>                                       
									</tr>
								</thead>   
								<tbody>                                                    
									<tr th:each="favorite : ${favoritePage}">
										<td>
											<a th:href="@{/restaurants/__${favorite.getRestaurant().getId()}__}" th:text="${favorite.getRestaurant().getName()}"></a>
										</td>
										<td th:text="${favorite.getRestaurant().getAddress()}"></td>
										<td th:text="${favorite.getRestaurant().getPhoneNumber()}"></td>
										<td th:text="${favorite.getRestaurant().getCategory().Name}"></td>
										<td><a href="#" class="taberogu-link-danger" data-bs-toggle="modal" th:data-bs-target="${'#deleteFavoriteModal' + favorite.getId()}">解除</a></td>     

                                         <!-- 削除用モーダル -->
                                         <div class="modal fade" th:id="${'deleteFavoriteModal' + favorite.getId()}" tabindex="-1" th:aria-labelledby="${'deleteFavoriteModalLabel' + favorite.getId()}">
                                             <div class="modal-dialog">
                                                 <div class="modal-content">
                                                     <div class="modal-header">
                                                         <h5 class="modal-title" th:id="${'deleteFavoriteModalLabel' + favorite.getId()}" th:text="${favorite.getRestaurant.getName() + 'を解除してもよろしいですか？'}"></h5>
                                                         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="閉じる"></button>
                                                     </div>
                                                     <div class="modal-footer">
                                                         <form method="post"th:action="@{/favorites/__${favorite.getId()}__/delete}">
                                                             <button type="submit" class="btn taberogu-btn-danger text-white shadow-sm">削除</button>
                                                         </form>
                                                     </div>
                                                 </div>
                                             </div>
                                         </div> 
									</tr>                                    
								</tbody>
							</table>    
                             
							<!-- ページネーション -->
							<div th:if="${favoritePage.getTotalPages() > 1}" class="d-flex justify-content-center">
								<nav aria-label="お気に入り一覧ページ">
									<ul class="pagination">
										<li class="page-item">
											<span th:if="${favoritePage.isFirst()}" class="page-link disabled">前</span>
											<a th:unless="${favoritePage.isFirst()}" th:href="@{/favorites(page = ${favoritePage.getNumber() - 1})}" class="page-link nagoyameshi-page-link">前</a>
										</li>
										<li th:each="i : ${#numbers.sequence(0, favoritePage.getTotalPages() - 1)}" class="page-item">
											<span th:if="${i == favoritePage.getNumber()}" class="page-link active nagoyameshi-active" th:text="${i + 1}"></span>
											<a th:unless="${i == favoritePage.getNumber()}" th:href="@{/favorites(page = ${i})}" class="page-link nagoyameshi-page-link" th:text="${i + 1}"></a>
										</li>
										<li class="page-item">                        
											<span th:if="${favoritePage.isLast()}" class="page-link disabled">次</span>
											<a th:unless="${favoritePage.isLast()}" th:href="@{/favorites(page = ${favoritePage.getNumber() + 1})}" class="page-link nagoyameshi-page-link">次</a>
										</li>
									</ul>
								</nav> 
							</div>
							                
						</div>                          
					</div>
				</div>
  
			</main>
             
			<!-- フッター -->
			<div th:replace="~{fragment :: footer}"></div>
		</div>    
         
		<div th:replace="~{fragment :: scripts}"></div>  
	</body>
</html>