<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<div th:replace="~{fragment :: meta}"></div>

	<div th:replace="~{fragment :: styles}"></div>

	<title>店舗詳細</title>
</head>

<body>
	<div class="taberogu-wrapper">
		<!-- ヘッダー -->
		<div th:replace="~{fragment :: header}"></div>

		<main>
			<div class="container pt-4 pb-5 taberogu-container">
				<div class="row justify-content-center">
					<div class="col-xxl-9 col-xl-10 col-lg-11">
						<nav class="mb-4" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
							<ol class="breadcrumb mb-0">
								<li class="breadcrumb-item"><a th:href="@{/}">ホーム</a></li>
								<li class="breadcrumb-item"><a th:href="@{/restaurants}">店舗一覧</a></li>
								<li class="breadcrumb-item active" aria-current="page">店舗詳細</li>
							</ol>
						</nav>

						<h1 class="mb-4 text-center" th:text="${restaurant.getName()}"></h1>
									
															
						<!-- 有料会員であれば表示 -->
						<div sec:authorize="hasRole('ROLE_SUBSCRIPTION')">                  
							<div>
								<div> 
									<form th:if="${favorite}" method="post" th:action="@{/restaurants/__${restaurant.getId()}__/favorites/delete}" class="card-body">                                                                                                         
										<div class="d-flex justify-content-end mb-3">
											<button type="submit" class="btn text-white shadow-sm taberogu-btn col-3">お気に入り解除️</button>
										</div>
									</form> 
									<form th:unless="${favorite}" method="post" th:action="@{/restaurants/__${restaurant.getId()}__/favorites/create}">                                                                                                         
										<div class="d-flex justify-content-end mb-3">
											<button type="submit" class="btn text-white shadow-sm taberogu-btn col-3">お気に入り登録</button>
										</div>
									</form>                                                                     
								</div>
							</div>  
						</div>
									
						

						<div th:if="${successMessage}" class="alert alert-info">
							<span th:text="${successMessage}"></span>
						</div>

						<div th:if="${errorMessage}" class="alert alert-danger">
							<span th:text="${errorMessage}"></span>
						</div>

						<div class="mb-4">
							<img th:if="${restaurant.getImageName()}"
								th:src="@{/storage/__${restaurant.getImageName()}__}" class="w-100" alt="店舗画像">
							<img th:unless="${restaurant.getImageName()}" th:src="@{/images/noImage.png}" class="w-100"
								alt="NO IMAGE">
						</div>

						<div class="container">
							<div class="row">
								<div class="col-lg-8 container mb-4">
									<div class="row pb-2 mb-2 border-bottom">
										<div class="col-4">
											<span class="fw-bold">店舗名</span>
										</div>

										<div class="col">
											<span th:text="${restaurant.getName()}"></span>
										</div>
									</div>

									<div class="row pb-2 mb-2 border-bottom">
										<div class="col-4">
											<span class="fw-bold">説明</span>
										</div>

										<div class="col">
											<span class="taberogu-pre-wrap"
												th:text="${restaurant.getDescription()}"></span>
										</div>
									</div>

									<div class="row pb-2 mb-2 border-bottom">
										<div class="col-4">
											<span class="fw-bold">営業時間</span>
										</div>

										<div class="col">
											<span th:text="${restaurant.getOpeningHours()}"></span>
										</div>
									</div>

									<div class="row pb-2 mb-2 border-bottom">
										<div class="col-4">
											<span class="fw-bold">価格帯</span>
										</div>

										<div class="col">
											<span th:text="${restaurant.getPrice()}"></span>
										</div>
									</div>

									<div class="row pb-2 mb-2 border-bottom">
										<div class="col-4">
											<span class="fw-bold">郵便番号</span>
										</div>

										<div class="col">
											<span th:text="${restaurant.getPostalCode()}"></span>
										</div>
									</div>

									<div class="row pb-2 mb-2 border-bottom">
										<div class="col-4">
											<span class="fw-bold">住所</span>
										</div>

										<div class="col">
											<span th:text="${restaurant.getAddress()}"></span>
										</div>
									</div>

									<div class="row pb-2 mb-2 border-bottom">
										<div class="col-4">
											<span class="fw-bold">定休日</span>
										</div>

										<div class="col">
											<span th:text="${restaurant.getRegularHoliday()}"></span>
										</div>
									</div>

									<div class="row pb-2 mb-2 border-bottom">
										<div class="col-4">
											<span class="fw-bold">電話番号</span>
										</div>

										<div class="col">
											<span th:text="${restaurant.getPhoneNumber()}"></span>
										</div>
									</div>

									<div class="row pb-2 mb-2 border-bottom">
										<div class="col-4">
											<span class="fw-bold">カテゴリ</span>
										</div>

										<div class="col">
											<span th:text="${restaurant.getCategory().getName()}"></span>
										</div>
									</div>
								</div>

								<div sec:authorize="isAnonymous()" class="col-lg-4 px-0 ps-lg-4 mb-4">
									<div class="card">
										<div class="card-body">
											<p class="card-text">予約するには<a th:href="@{/login}">ログイン</a>し、有料会員登録が必要です。</p>
											<button type="submit" class="btn text-white shadow-sm w-100 taberogu-btn"
												disabled>予約する</button>
										</div>
									</div>
								</div>
								
								<div sec:authorize="hasRole('ROLE_GENERAL')" class="col-lg-4 px-0 ps-lg-4 mb-4">
									<div class="card">
										<div class="card-body">
											<p class="card-text">予約するには<a th:href="@{/subscription}">有料会員登録</a>が必要です。</p>
											<button type="submit" class="btn text-white shadow-sm w-100 taberogu-btn"
												disabled>予約する</button>
										</div>
									</div>
								</div>

								<div sec:authorize="hasRole('ROLE_SUBSCRIPTION')" class="col-lg-4 px-0 ps-lg-4 mb-4">
									<div class="card">
										<div class="card-body">
											<form method="get"
												th:action="@{/restaurants/__${restaurant.getId()}__/reservations/input}"
												th:object="${reservationInputForm}">

												<div class="form-group mb-4">
													<label for="reservationDate"
														class="col-form-label text-md-left fw-bold">予約日</label>
													<div th:if="${#fields.hasErrors('reservationDate')}"
														class="text-danger small mb-2" th:errors="*{reservationDate}">
													</div>
													<input type="date" class="form-control"
														th:field="*{reservationDate}">
												</div>

												<div class="form-group mb-4">
													<label for="reservationTime"
														class="col-form-label text-md-left fw-bold">予約時間</label>
													<div th:if="${#fields.hasErrors('reservationTime')}"
														class="text-danger small mb-2" th:errors="*{reservationTime}">
													</div>
													<input type="time" class="form-control"
														th:field="*{reservationTime}">
												</div>


												<div class="form-group mb-4">
													<label for="numberOfPeople"
														class="col-form-label text-md-left fw-bold">予約人数</label>
													<div th:if="${#fields.hasErrors('numberOfPeople')}"
														class="text-danger small mb-2" th:errors="*{numberOfPeople}">
													</div>
													<input type="number" class="form-control"
														th:field="*{numberOfPeople}" min="1">
												</div>

												<div class="form-group">
													<button type="submit"
														class="btn text-white shadow-sm w-100 taberogu-btn">予約する</button>
												</div>
											</form>
										</div>
									</div>
								</div>


								<div class="container pt-4 pb-5 taberogu-container">
									<div class="row justify-content-center">
										<div class="col-xxl-9 col-xl-10 col-lg-11">

											<h1 class="mb-4 text-center">レビュー</h1>

											<div sec:authorize="isAnonymous()" class="d-flex justify-content-center">
												<div class="card">
													<div class="card-body">
														<p class="card-text">レビューを投稿するには<a
																th:href="@{/login}">ログイン</a>し、有料会員登録が必要です。
														</p>
														<button type="submit"
															class="btn text-white shadow-sm w-100 taberogu-btn"
															disabled>レビューを投稿する</button>
													</div>
												</div>
											</div>
											
											<div sec:authorize="hasRole('ROLE_GENERAL')" class="d-flex justify-content-center">
												<div class="card">
													<div class="card-body">
														<p class="card-text">レビューを投稿するには<a
																th:href="@{/subscription}">有料会員登録</a>が必要です。
														</p>
														<button type="submit"
															class="btn text-white shadow-sm w-100 taberogu-btn"
															disabled>レビューを投稿する</button>
													</div>
												</div>
											</div>

											<div sec:authorize="hasRole('ROLE_SUBSCRIPTION')"
												class="d-flex justify-content-center">
												<a th:href="@{/restaurants/__${restaurant.getId()}__/reviews/register}"
													class="btn text-white shadow-sm w-100 taberogu-btn">レビューを投稿する</a>
											</div>
											<br>

											<div class="mb-3" th:each="review : ${reviews}">

												<div class="card h-100">
													<div class="row g-0">
														<div class="col-md-8">
															<div class="card-body">
																<h3 class="card-title mb-3"
																	th:text="${review.getUser().getName()}"></h3>
																	
																<span sec:authorize="hasRole('ROLE_SUBSCRIPTION')" th:if="${#authentication.principal.user.id == review.getUser().getId()}">	
																<a
																	th:href="@{/restaurants/__${restaurant.getId()}__/reviews/__${review.getId()}__/edit}">編集</a>
																<a href="#" class="taberogu-link-danger"
																	data-bs-toggle="modal"
																	th:data-bs-target="${'#deleteReviewModal' + review.getId()}">削除</a>
																</td>

																<!-- 削除用モーダル -->
																<div class="modal fade"
																	th:id="${'deleteReviewModal' + review.getId()}"
																	tabindex="-1"
																	th:aria-labelledby="${'deleteReviewModalLabel' + review.getId()}">
																	<div class="modal-dialog">
																		<div class="modal-content">
																			<div class="modal-header">
																				<h5 class="modal-title"
																					th:id="${'deleteReviewModalLabel' + review.getId()}"
																					th:text="${review.getRestaurant.getName() + 'のレビューを削除してもよろしいですか？'}">
																				</h5>
																				<button type="button" class="btn-close"
																					data-bs-dismiss="modal"
																					aria-label="閉じる"></button>
																			</div>
																			<div class="modal-footer">
																				<form method="get"
																					th:action="@{/restaurants/__${restaurant.getId()}__/reviews/__${review.getId()}__/delete}">
																					<button type="submit"
																						class="btn taberogu-btn-danger text-white shadow-sm">削除</button>
																				</form>
																			</div>
																		</div>
																	</div>
																</div>
																</span>


																<p class="card-text mb-2">
																	<span th:text="${review.getEvaluation()}"></span>
																</p>

																<p class="card-text mb-2">
																	<small class="text-muted"
																		th:text="${review.getCreatedAt()}"></small>
																</p>

																<p class="card-text">
																	<span th:text="${review.getContent()}"></span>
																</p>

															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</main>

		<!-- フッター -->
		<div th:replace="~{fragment :: footer}"></div>
	</div>

	<div th:replace="~{fragment :: scripts}"></div>
</body>

</html>